
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
}
body{
    background-color: #EEF9BF;
}
.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #EEF9BF;
}
.titulo{
    margin-top: 40px;
    text-align: center;
    ;
}
.conteinerCartas{
    margin-top: 47px;
    width: 872px;
    
}
.linha{
    display:grid ;
    grid: repeat(2, 170px) / auto-flow 130px;
    align-items: center;
    justify-content:  center;
}

.carta{
    display: inline-block;
    height: 146px;
    width: 117px; 
    position: relative;
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.frente{
}
.costas{
    display: flex ;
}


.rodar{
    transition: all .5s;
    transform: rotateY(180deg);
}
.rodar2{
    transform: rotateY(0deg);
}
.carta img{
    margin: 24px 7px 22px 10px;
    width: 100px;
    height: 100px;
}
.linha span:nth-of-type(){
    background-color: aqua;
}

.sumir{display: none;}

@media (max-width: 600px){
    .linha{
        display: flex;
      flex-direction: column;
      justify-content:  none;
      align-items: center;
    }
    .conteinerCartas{
        margin-top: none;
        width: max-content;
    }
    .carta{
        margin: 10px 0;
    }
}